@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@1,100&family=Source+Sans+Pro:ital,wght@1,200&display=swap');

.card{
    border-radius: 5px;
    box-shadow: 35px;
    margin: 12px;
    padding: 5px;
    cursor: pointer;
    background-color:aliceblue;
    display: grid;
    grid-template-columns: 20% 20% 10% 20% 20% 10%;

};


#match{
    text-align: center;
    padding: 15px;
}

#as{
    text-align: center;
    padding: 17px;

}

#hs{
    text-align: center;
    padding: 17px;
   
}

#matcha{
    text-align: center;
    padding: 15px;
}

#stade{
    text-align: center;
    padding: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

span{
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    font-family: 'Noto Serif Display', serif;
}

#event_status{
    font-weight: bold;
    font-family: 'Noto Serif Display', serif;
    color: green;
}